body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #3498db;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav {
  margin-top: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

main {
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.integrante {
  padding-left: 10px;
  padding-bottom: 50px;

  border-radius: 10px;
}

.card {
  background-color: rgb(179, 185, 187);
  width: 500px;
  border-radius: 10px;
}

form {
  width: 40%;
}

form label,
form input,
form textarea,
form button {
  display: block;
  margin-bottom: 10px;
}

textarea {
  width: 100%;
}

body.dark-mode {
  background-color: #333;
  color: #fff;
}
